@import '~@angular/material/prebuilt-themes/indigo-pink.css';

#files {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  #files td, #files th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* #files tr:nth-child(even){background-color: #f2f2f2;} */

  
  /* #files tr:hover {background-color: #ddd;} */
  
  #files th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #4c93af;
    color: white; */
  }